@font-face {
  font-family: 'DancingScript';
  src: url('../fonts/DancingScript-Regular.ttf');
  src: url('../fonts/DancingScript-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
a:link, a:visited, a:active, a:hover, a:focus{
  text-decoration: none;
  color: black;
}
body{
   font-family: 'DancingScript';
   background-color: #02010a;
   color: white;
   margin-bottom: 0;
}
#container{
  position: relative;
  margin: 5px auto;
  width: 96%;
  height: auto;
  clear: both;
  text-align: center;
  animation: 2s slide-up 1;
  z-index: 0;
}

#cabecera{
  background-color: #5b7989; 
  border-radius: 10px 10px 0 0;
}

#cabecera header h1{
  text-shadow: 2px 2px #02010a;
}

#menu ul{
  padding-bottom: 10px;
}

#menu ul li{
  display: inline-block;
  margin: 8px;
  padding: 5px;
}

#menu ul li a{
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}

#menu ul li a:hover{
  border-bottom: 2px solid #fff;
  padding-bottom: 2px;
  transition-duration: 0.3s;
}

#container section img{
  width: 80%;
  height: auto;
  margin: 0 auto;
}

#seccion-principal .imagen-principal{
  width: 80%;
  height: auto;
}

#seccion-principal{
  background-color: #82c3a6;
  padding: 20px 0 20px 0;
}

#seccion-secundaria{
  background-color: #d5c75f;
  padding: 10px 0 10px 0;
  font-size: 1.2em;
  color: black;
  font-weight: bold;
}

#seccion-secundaria img{
  border: 1px solid black;
}

#seccion-secundaria .paisajes,
#seccion-secundaria .retratos{
  padding: 10px 0 10px 0;
}

#footer{
  padding-top: 40px;
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
  font-size: 1.2em;
  color: black;
}

#contact, #terminos, #social, #copyright{
  margin: 30px auto;
  text-align: left;
  padding-left: 30px;
  padding-bottom: 10px;
}

#social ul li i {
  font-size: 1.6em;
}

.fa-facebook-square{
  color: #2F5590;
}

.fa-twitter-square{
  color: #53A0F1;
}

.fa-github-square{
  color: #53277D;
}

/*===========================================/
                                            Keyframes
/===========================================*/
@-webkit-keyframes slide-up{
    0% {
        opacity: 0;
        transform: translateY(800px);
    }
    50% {
        opacity: 1;
        transform: translateY(-5px);
    }
    70% {
        transform: translateY(5px);
    }
    90% {
        transform: translateY(2px);
    }
}

@-moz-keyframes slide-up{
    0% {
        opacity: 0;
        transform: translateY(800px);
    }
    50% {
        opacity: 1;
        transform: translateY(-5px);
    }
    70% {
        transform: translateY(5px);
    }
    90% {
        transform: translateY(2px);
    }
}